<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/purchase_styles.css">
    <title>Document</title>
</head>
<body>
    <img src="../images/book_information_1.jpeg" class="book_image">
    <div class="product_footer">
        <div class="product_details">
            <div class="left">
                <span id="pricelabel">
                    총 상품 금액
                </span>
            <span id="price">
                <b>20,000</b>원
            </span>
            </div>

            <div class="right">
                <span>
                    <button id="shopping_list" type="button"> 장바구니</button>
                </span>
                <span>
                    <button id="purchase" type="button"> 바로구매</button>
                </span>




            </div>




        </div>

    </div>
</body>
</html>